/* Mobile first */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap%27');

:root {
    --author-size: 14px;
    --bcg-color: #fff;
    --bcg-color-primary: rgb(219, 233, 255);
    --bcg-color-primary-accent: rgba(130, 168, 228);
    --bcg-color-secondary: rgb(130, 168, 228);
    --bcrumb-color: #d9d9d9;
    --separation-color: #D9D9D9;
    --text-color: #0D0C0C;
    --title-size: 16px;
    --text-size: 14px;
    --cv-color: #748DB2;
}

* {
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* header desktop */
.header-menu-desktop-container {
    display: none;
}

.header-menu-desktop-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.technos-list {
    position: relative;
}

.header-desktop-submenu-list {
    background-color: var(--bcg-color-primary);
    display: none;
    flex-direction: column;
    height: 145px;
    position: absolute;
    width: 200px;
}

.drop-item-desktop {
    align-self: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    height: 100%;
    justify-self: center;
    line-height: 2em;
    padding: 8px 7px 8px;
    top: 10px;
    width: 100%;
}

.header-menu-desktop-item:hover {
    background-color: var(--bcg-color-primary-accent);
}

.spoiler {
    background-color: white;
    color: white;
}

.spoiler:hover {
    background-color: black;
    color: white;
}

@media screen and (min-width: 769px) {
    .header-menu-desktop-container {
        display: block;
    }

    .margin-1 {
        margin-left: 10px;
    }

    .margin-2 {
        margin-left: 35px;
    }

    .margin-3 {
        margin-left: 55px;
    }

    .drop-item-desktop-a {
        align-items: center;
        display: inline-flex;
        height: 40px;
        justify-content: center;
        line-height: 2em;
        padding: 5px 15px;
        text-align: center;
    }

    #drop-item-desktop-a-technos::after {
        align-items: center;
        content: "v";
        display: flex;
        font-size: 12px;
        height: 30px;
        justify-content: center;
        text-align: center;
        width: 15px;
    }

    .header-menu-desktop-item:hover>#drop-item-desktop-a-technos::after {
        content: ">";
        font-size: 10px;
    }

    .drop-item-desktop-a:hover~.header-desktop-submenu-list {
        display: block;
    }

    .header-desktop-submenu-list:hover {
        display: block;
    }
}

.pre-container {
    min-height: 90px;
    position: relative;
}

.pre-style {
    background-color: rgba(0, 0, 0, 0.9);
    font-size: calc(var(--text-size)*0.85);
    left: 0;
    overflow: auto;
    padding: 10px;
    padding-bottom: 15px;
    position: absolute;
    right: 0;
}

@media screen and (min-width: 1024px) {
    .pre-style {
        font-size: calc(var(--text-size)*0.9);
    }
}

@media screen and (min-width: 1440px) {
    .pre-style {
        font-size: var(--text-size);
    }
}

.pre-style p,
.pre-style-home p {
    white-space: nowrap;
}

.pre-style span:not(.code-comment):not(.code-line-argument):not(.code-line-sub-argument),
.pre-style-home span:not(.code-comment):not(.code-line-argument):not(.code-line-sub-argument):not(.color-blue):not(.color-red):not(.color-green):not(.color-chocolate):not(.color-fuschia):not(.color-green):not(.spoiler) {
    color: white;
}

.color-blue {
    color: lightblue;
    font-weight: bold;
}

.color-bootstrap {
    color: #7952B3;
    font-weight: bold;
}

.color-red {
    color: #f22c3d;
    font-weight: bold;
}

.color-green {
    color: #00a67d;
    font-weight: bold;
}

.color-chocolate {
    color: #e9950c;
    font-weight: bold;
}

.color-fuschia {
    color: #df3079;
    font-weight: bold;
}

.code-comment {
    color: green;
    font-weight: bold;
}

.pre-style span,
.pre-style-home span,
.code-title {
    font-family: 'Roboto Mono', monospace;
}

.code-line-argument {
    font-weight: bold;
    color: chocolate
}

.code-line-sub-argument {
    color: pink;
}

.code-lines-italic {
    font-style: italic;
}

/* wave animation */

.waves-top {
    background-color: var(--bcg-color-primary);
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.waves-container {
    top: 32px;
    right: 0;
    position: absolute;
    left: 0;
}

.waves {
    height: 30px;
    max-height: 90px;
    min-height: 60px;
    position: relative;
    transform: rotate(180deg);
    width: 100%;
}

.waves-container2 {
    left: 0;
    position: absolute;
    right: 0;
}

.waves2 {
    height: 30px;
    max-height: 90px;
    min-height: 60px;
    transform: rotate(180deg);
    width: 100%;
}

@media screen and (min-width: 769px) {
    .waves-top {
        height: 55px;
    }

    .waves-container {
        top: 52px;
    }
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

.source {
    font-style: italic;
    text-align: left;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* /* Shrinking for mobile */
@media (max-width: 768px) {
    .waves {
        height: 50px;
        min-height: 50px;
    }
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-weight: 800;
}

.skills-text {
    font-size: var(--text-size);
    font-weight: 400;
}

body {
    background-color: var(--bcg-color);
}

.grid-container {
    background-repeat: repeat-x;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 900px 1fr;
    }
}

header {
    grid-area: 1/2;
    width: 100%;
}

.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header-lang {
    height: 21px;
}

.lang-list {
    height: 100%;
}

.lang-list-link {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 15px 5px;
}

.lang-list-submenu:hover {
    display: block;
}

.lang-list-item {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 15px;
}

.lang-list-item a,
.lang-list-link a {
    font-weight: bold;
    padding-left: 5px;
}

.lang-list-submenu {
    background-color: var(--bcg-color-primary);
    display: none;
    padding-top: 10px;
    position: absolute;
    top: 30px;
    z-index: 1000;
}

.text-lang {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-lang:hover~.lang-list-submenu {
    display: block;
}

.lang-list-item:hover>.lang-list-submenu,
.lang-list-submenu:hover {
    display: block;
}

.burger-drop {
    background-color: var(--bcg-color-primary);
    left: 0px;
    line-height: 1.5em;
    position: absolute;
    top: 34px;
    width: 100vw;
    z-index: 999;
}

.drop-item {
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    line-height: 2em;
    padding: 5px 15px;
    text-align: center;
}

.submenu {
    background-color: rgba(130, 168, 228, 0.3);
}

.burger-drop a:hover {
    background-color: var(--bcg-color-secondary);
}

.burger-drop a:active {
    background-color: rgb(130, 168, 228, 0.5);
    color: white;
}

.header-burger {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 3em;
    justify-content: center;
    width: 40px;
}

.burger-drop ul li:nth-last-child(2) a {
    border-bottom: none;
}

.header-burger-icon {
    align-self: center;
    background: url(../assets/img/burger-black.png);
    background-repeat: no-repeat;
    display: block;
    height: 12px;
    position: relative;
    width: 19px;
}

.close-burger-icon {
    background: url(../assets/img/close-burger.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (min-width: 769px) {
    .header-burger {
        display: none;
    }

    .header-container {
        align-items: center;
        display: flex;
        gap: 50px;
        justify-content: center;
        position: relative;
    }
}

.quote-container {
    align-items: center;
    display: flex;
    grid-area: 2/2;
    justify-content: center;
    margin: 75px 0 50px;
}

.about-container {
    grid-area: 3/2;
    margin: 25px 0;
}

.about-container::after {
    background-color: var(--separation-color);
    content: "";
    display: block;
    height: 1px;
    margin: 25px 0;
    position: absolute;
    right: 0;
    width: 100vw;
}

.quote::first-letter,
.author::first-letter {
    text-transform: capitalize;
}

.quote {
    font-size: 15px;
    font-weight: bold;
    text-align: center;

}

.author {
    font-size: var(--author-size);
    font-style: italic;
    font-weight: 300;
    margin: 5px 0;
    text-align: center;
}

.author::before {
    content: "- ";
    display: inline;
}

@media screen and (min-width: 769px) {
    .quote-container {
        margin: 100px 0 50px;
    }

    .quote {
        font-size: calc(15px*1.3);
    }

    .author {
        font-size: calc(var(--author-size)*1.3);
    }
}

.about-title {
    font-size: var(--title-size);
    margin: 15px 0;
    text-transform: uppercase;
}

.about-text {
    font-weight: 400;
    margin-bottom: 40px;
    padding-left: 20px;
}

.skills-container {
    grid-area: 4/2;
    margin: 50px 0 25px;
}

.skills-title {
    font-size: var(--title-size);
    margin: 15px 0;
    text-transform: uppercase;
}

.competences-title {
    font-size: var(--title-size);
    font-weight: 800;
    text-transform: capitalize;
}

.links-title {
    font-size: var(--title-size);
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
}


.competences-title span {
    display: inline-block;
    margin: 0 25px 35px 0px;
}

.skills-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.skills-item span {
    max-width: 275px;
}

.skills-item span::first-letter {
    text-transform: uppercase;
}

.skills-bc {
    background-color: var(--bcg-color-primary);
    grid-column: 1/4;
    grid-row: 4;
}

@media screen and (min-width: 1024px) {
    .skills-bc {
        min-height: 515px;
    }
}

.ai {
    grid-area: 5/2;
    margin: 55px 0 0;
}

.links-container {
    display: flex;
    flex-direction: column;
    grid-area: 6/2;
}

.technos-icon-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.bootstrap-icons {
    background: url(../assets/img/bootstrap-icons.svg);
}

.git-icon {
    background: url(../assets/img/git-icon.svg);
}

.github-icon {
    background: url(../assets/img/github-icon.svg);
}

.linkedin-icon {
    background: url(../assets/img/linkedin-icon.svg);
}

.codepen-icon {
    background: url(../assets/img/codepen-icon.svg)
}

.links-items-wrapper {
    display: flex;
    justify-content: center;
}

.link-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin: 0 5px;
}

.links-container::before {
    background-color: var(--separation-color);
    content: "";
    display: block;
    height: 1px;
    margin: 20px 0;
    width: 100%;
}

.front-end-title-container {
    display: flex;
    margin-bottom: 10px;
}

.list {
    align-items: center;
    display: flex;
    margin-left: 55px;
}

.icon-figma {
    background: url(../assets/img/figma-icon.svg);
}

.icon-photoshop {
    background: url(../assets/img/photoshop-icon.svg);
}

.icon-illustrator {
    background: url(../assets/img/illustrator-icon.svg);
}

.icon-html {
    background: url(../assets/img/html-icon.svg);
}

.icon-css {
    background: url(../assets/img/css-icon.svg);
}

.icon-js {
    background: url(../assets/img/javascript-icon.svg);
}

.icon-wordpress {
    background: url(../assets/img/wordpress-icon.svg);
}

.icon-tailwind {
    background: url(../assets/img/tailwind-icon.svg);
}

.icon-bootstrap {
    background: url(../assets/img/bootstrap-icon.svg);
}

.icon-mysql {
    background: url(../assets/img/mysql-icon.svg);
}

.icon-mariadb {
    background: url(../assets/img/mariadb-icon.svg);
}

.icon-phpmyadmin {
    background: url(../assets/img/phpmyadmin-icon.svg);
}

.icon-php {
    background: url(../assets/img/php-icon.svg);
}

.icon-java {
    background: url(../assets/img/java.svg);
}

.icon-laravel {
    background: url(../assets/img/laravel-icon.svg);
}

.icon-xampp {
    background: url(../assets/img/xampp-icon.svg);
}

.icon-mamp {
    background: url(../assets/img/mamp-icon.svg);
}

.icon-git {
    background: url(../assets/img/git-icon.svg);
}

.icon-github {
    background: url(../assets/img/github-icon.svg);
}

.icon-python {
    background: url(../assets/img/python.svg);
}

.icon-flask {
    background: url(../assets/img/flask.svg);
}

.icon-pandas {
    background: url(../assets/img/pandas.svg);
}

.icon-matplotlib {
    background: url(../assets/img/matplotlib.svg);
}

.icon-keras {
    background: url(../assets/img/keras.svg);
}

.fr-flag {
    background: url(../assets/img/french-flag.svg);
}

.en-flag {
    background: url(../assets/img/uk-flag.svg);
}

.flag {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 18px;
}

.cms {
    text-transform: uppercase;
}

.flags {
    height: 20px;
}

.list-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    margin-left: 5px;
    width: 30px;
}

.links-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 30px;
    width: 30px;
}

.links-name:hover,
.links-item:hover,
.links-item:hover~a {
    opacity: 0.5;
    color: orange;
}


.icon-mysql {
    width: 50px;
}

.icon-php,
.icon-laravel {
    width: 40px;
}

footer {
    align-items: center;
    background-color: var(--bcg-color-primary);
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: 1/4;
    grid-row: 7;
    height: 70px;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.copyright-text {
    font-size: 0.8em;
    text-align: center;
}

.logo-metzys {
    aspect-ratio: 1/1;
    background: url('../assets/img/LogoAd.svg') no-repeat;
    display: block;
    opacity: 0.5;
    width: 20px;
}

@media screen and (min-width: 769px) {

    .about-title,
    .skills-title {
        font-size: calc(var(--title-size)*1.3)
    }

    .about-text {
        font-size: calc(var(--text-size)*1.3)
    }

    .competences-title {
        font-size: calc(var(--title-size)*1.3)
    }

    .skills-text {
        font-size: calc(var(--text-size)*1.3)
    }
}

.skills-flex-right {
    display: none;
}

.pre-container-home {
    position: relative;
    width: 100%;
}

.pre-style-home {
    background-color: rgba(0, 0, 0);
    font-size: calc(var(--text-size)*0.90);
    font-weight: 500;
    max-height: 245px;
    max-width: 300px;
    min-height: 75px;
    overflow: auto;
    padding: 10px;
}

.skills-game-commands {
    display: none;
}

@media screen and (min-width: 1440px) {
    .pre-style-home {
        max-width: 500px;
    }
}

.pre-style-home>p {
    color: white;
}

.code-title-home {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: -80px;
}

@media screen and (min-width: 1024px) {
    .skills-title {
        /* text-align: center; */
    }

    .competences-title {
        /* text-align: center; */
    }

    .skills-flex {
        display: flex;
        gap: 300px;
        justify-content: center;
    }

    .list-item {
        height: 45px;
        width: 45px;
    }

    .skills-item span {
        max-width: unset;
    }

    .skills-flex-right {
        align-items: center;
        display: flex;
        margin-top: -75px;
        width: 45%;
    }

    .skills-game-commands {
        display: block;
        cursor: pointer;
    }

    .command-prev {
        background: url('../assets/icons/prev.svg') no-repeat;
        background-position: center;
        border: none;
        height: 20px;
        width: 20px;
    }

    .command-next {
        background: url('../assets/icons/prev.svg') no-repeat;
        background-position: center;
        border: none;
        height: 20px;
        transform: rotate(180deg);
        width: 20px;
    }
}

/*---------------------- Project page ----------------------*/
.breadcrumb {
    font-size: 11px;
    grid-area: 2/2;
    margin: 35px 0 25px;
    width: 100%;
}

.breadcrumb span {
    color: var(--bcrumb-color);
}

@media screen and (min-width: 769px) {
    .breadcrumb {
        margin: 80px 0 25px;
    }
}

.projects-container {
    grid-area: 3/2;
}

.projects {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 35px 0;
}

.project-skills {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 35px 0;
}

.project-box {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.project-box a {
    text-align: center;
}

/* title+subtitle*/
.project-title {
    margin: 5px 0;
}

.title-box {
    margin: 25px 0 15px;
}

.separation,
.sep {
    border-top: 1px dashed #bbb;
}

.separation {
    margin-top: 70px;
}

.title-box-design {
    margin: 35px 0 15px;
}

.title-box h2 {
    font-size: var(--title-size);
    text-transform: uppercase;
}

.title-box span {
    font-size: var(--text-size)
}

.project-title,
.project-details {
    align-self: center;
}

.projects-skills {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin-top: 0;
}

.project-details {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

/* image */
.project {
    height: 120px;
    margin-top: 5px;
    width: 100%;
}

/* media q image */
@media screen and (min-width: 767px) {
    .project {
        height: 150px;
    }
}

.img-pelote {
    background: url(../assets/img/pelote.png);
}

.img-cms {
    background: url(../assets/img/cms.png);
}

.img-wmp {
    background: url(../assets/img/player.png);
}

.img-cloud {
    background: url(../assets/img/cloud_homepage.jpg);
}

.img-incl {
    background: url(../assets/img/greta.png);
}

.img-ludo {
    background: url(../assets/img/ludo.png);
    transition: 0.2s ease-out;
}

.img-baj {
    background: url(../assets/img/boiteajeux.png);
    transition: 0.2s ease-out;
}

.img-alsh {
    background: url(../assets/img/famrur.png);
    transition: 0.2s ease-out;
}

.img-alsh2 {
    background: url(../assets/img/famrur2.png);
    transition: 0.2s ease-out;
}

.img-alsh3 {
    background: url(../assets/img/famrur3.png);
    transition: 0.2s ease-out;
}

.img-carecover {
    background: url(../assets/img/carecover.png);
    transition: 0.2s ease-out;
}

.img-univtel1 {
    background: url(../assets/img/univtel1.png);
    transition: 0.2s ease-out;
}

.img-univtel2 {
    background: url(../assets/img/univtel2.png);
    transition: 0.2s ease-out;
}

.img-hcg1 {
    background: url(../assets/img/hcg1.png);
    transition: 0.2s ease-out;
}

.img-hcg2 {
    background: url(../assets/img/hcg2.png);
    transition: 0.2s ease-out;
}

.img-info1 {
    background: url(../assets/img/infograph1.png);
    transition: 0.2s ease-out;
}

.img-info2 {
    background: url(../assets/img/infograph2.png);
    transition: 0.2s ease-out;
}

.img-info3 {
    background: url(../assets/img/infograph3.png);
    transition: 0.2s ease-out;
}

.project-image {
    display: block;
    filter: drop-shadow(3px 3px 3px rgba(109, 109, 109, 0.1));
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.project-box:hover {
    background-color: rgba(130, 168, 228, 0.1);
}

.cloud-text {
    font-size: 13px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.autoplay {
    grid-area: 5/2;
    margin-top: 15px;
    text-align: center;
}

.slider-container {
    grid-column: 1/4;
    grid-row: 4;
    margin: 35px 0;
    position: relative;
}

.slider {
    border-radius: 5px;
    display: flex;
    height: 180px;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    width: 100%;
}

/* media q slider*/
@media screen and (min-width: 767px) {
    .slider {
        height: 350px;
    }
}

@media screen and (min-width: 1023px) {
    .slider {
        height: 450px;
    }
}

@media screen and (min-width: 1240px) {
    .slider {
        height: 550px;
    }
}

.slides-wrapper {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
}

.slides {
    height: 100%;
    width: 100%;
}

.slide {
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex: 1 0 100%;
    font-size: 100px;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.slides>li span {
    align-self: end;
    justify-self: end;
    text-align: right;
}

.prev,
.next {
    align-self: center;
    color: #D9D9D9;
    font-size: 45px;
    z-index: 999;
}

.prev {
    left: 0;
    position: absolute;
}

.next {
    position: absolute;
    right: 0;
}

.prev:hover,
.next:hover {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.slider-description {
    align-items: center;
    display: flex;
    grid-area: 4/2;
    justify-content: center;
    flex-direction: column;
}

.slide-description {
    display: block;
    text-align: center;
}

.close-button {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    height: 25px;
    margin-right: -25px;
    position: fixed;
    right: 50%;
    top: 5px;
    width: 70px;
    z-index: 9999;
}

.modal-back {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
}

.close-modal {
    height: 25px;
    margin-top: 20px;
    position: absolute;
    top: 100px;
    width: 25px;
    z-index: 9999;
}

.modal {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    filter: drop-shadow(3px 3px 3px rgba(109, 109, 109, 0.1));
    height: 800px;
    margin: auto 0;
    width: 100%;
}

.drop-animation {
    transition: 0.5s ease-in-out;
}

.controls-style {
    align-self: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: #D9D9D9;
    cursor: pointer;
    font-size: 45px;
    text-align: center;
    top: 45%;
    width: 60px;
    z-index: 999;
}

.controls-style:hover {
    color: white;
}

.controls-style:active {
    color: var(--bcg-color-primary-accent);
}

.controls-wrapper {
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
}

.expand-menu-icon {
    background: url(../assets/img/expand-down-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 20px;
    width: 20px;
}

.controls-wrapper-expanded {
    display: flex;
    gap: 50px;
    left: calc(50%);
    margin-left: -85px;
    position: fixed;
    top: 85%;
    z-index: 999;
}

/*page technos*/

.technos-container {
    display: flex;
    grid-area: 3/2;
}

.technos-title-box {
    margin: 25px 0 15px;
}

.technos-title-box h2 {
    font-size: var(--title-size);
    text-transform: uppercase;
}

.left-menu-container {
    display: none;
    height: 200px;
    min-width: 20%;
    position: sticky;
    top: 0;
}

@media screen and (min-width: 1024px) {
    .left-menu-container {
        display: block;
    }

}

.left-menu {
    margin-top: 25px;
}

.left-menu-item {
    align-items: center;
    display: flex;
    height: 3rem;
}

.menu-separator {
    border-bottom: 1px solid;
    color: var(--separation-color);
    height: 0;
    margin: 0;
    width: 80%;
}

.right-content {
    padding-left: 20px;
}

@media screen and (max-width: 425px) {
    .technos-container {
        grid-area: 3/1/3/4;
    }

    .right-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .technos-title-box {
        text-align: center;
    }

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.icon-big {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    margin-left: 5px;
    width: 50px;
}

@media screen and (min-width: 769px) {
    .icon-big {
        height: 70px;
        width: 70px;
    }
}

.technos-text {
    font-weight: 400;
}

/*general*/
.overflow-hide {
    overflow: hidden;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}


/* Contact Page */
.contact-container {
    grid-area: 3/2;
}

.form-style {
    display: flex;
    flex-direction: column;
}

.input-style {
    display: flex;
    height: 30px;
    margin-bottom: 15px;
}

.form-style input {
    border: none;
    border-bottom: 1px solid var(--separation-color);
    border-bottom-right-radius: 3px;
    border-right: 1px solid var(--separation-color);
    border-top: 1px solid var(--separation-color);
    border-top-right-radius: 3px;
    margin-bottom: 15px;
    min-height: 100%;
    padding-left: 5px;
    width: 100%;
}

textarea {
    border: 1px solid var(--separation-color);
    border-radius: 3px;
    margin-bottom: 15px;
    min-height: 150px;
    padding: 5px 0 5px 5px;
    resize: none;
    width: 100%;
}

.icon-name {
    background: url(../assets/img/person-circle.svg);
}

.icon-email {
    background: url(../assets/img/contact-email.svg);
}

.icon-pen {
    background: url(../assets/img/contact-pen.svg);
}

.contact-icon {
    background-color: var(--bcg-color-primary);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--bcg-color-primary);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    display: block;
    height: 30px;
    order: -1;
    transition: 0.3s;
    width: 35px;
}

input:focus~.contact-icon {
    background-color: var(--bcg-color-primary-accent);
}

textarea:focus,
input:focus {
    outline: 1px solid blue;
    outline-offset: -1px;
}

.input-style-txtarea {
    min-height: 150px;
}

#submit-contact {
    background-color: var(--bcg-color-primary);
    border: none;
    margin: 20px 0;
    padding: 5px;
}


/* CV page */

.cv-outter-container {
    grid-area: 3/2;
}

.cv-inner-container {
    display: block;
}

@media screen and (min-width: 768px) {
    .cv-inner-container {
        display: flex;
        justify-content: space-around;
    }

    #prev {
        left: 10%;
    }

    #next {
        right: 10%;
    }
}

.cv-top-bar {
    background: var(--bcg-color-primary);
    height: 30px;
    margin-bottom: 15px;
    width: 100%;
}


.flex {
    align-items: center;
    display: flex;
    gap: 20px;
}

.cv-flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.cv-title {
    display: flex;
    flex-direction: column;
}

.cv-name {
    font-size: calc(var(--title-size)*1.2);
    margin-bottom: 30px;
}

.cv-photo {
    aspect-ratio: 1/1;
    display: block;
    background: url(../assets/img/photo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    border-radius: 50%;
}

.cv-profile {
    margin-bottom: 20px;
}


.icon-pen-black {
    background: url('../assets/img/pen.svg');
}

.cv-section-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 25px;
    height: 25px;
}


.color-blue-accent {
    color: var(--cv-color);
    font-weight: bold;
}

.cv-section-title {
    font-size: calc(var(--text-size)*1.3);
    font-weight: bold;
}

.cv-section-subtitle {
    font-style: normal;
    font-weight: bold;
}

.cv-exp-details {
    margin-top: 35px;
}

.cv-detail-block {
    margin-bottom: 30px;
}

.margin-t-30 {
    margin-top: 30px;
}

.margin-b-15 {
    margin-bottom: 15px;
}

.margin-b-30 {
    margin-bottom: 30px;
}

.margin-b-50 {
    margin-bottom: 50px;
}

.cv-date,
.cv-exp-d {
    font-style: italic;
}

.cv-inner-container p .exp-details {
    font-size: calc(var(--text-size)*1.1);
}

.cv-exp-title {
    font-weight: bold;
}

.cv-s-t {
    margin-top: 30px;
}

.cv-progress-bar {
    background-color: var(--bcg-color-primary);
    display: block;
    height: 20px;
}

.cv-icon-list {
    display: flex;
    gap: 10px;
}

.cv-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 30px;
    width: 30px;
}

#cv-1,
#cv-4 {
    width: 100%;
}

#cv-2 {
    width: 85%;
}

#cv-3 {
    width: 95%;
}


.bar {
    justify-content: space-between;
}

.grid-s {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 50px;
}

.cv-hobbies {
    display: flex;
    flex-direction: column;
}

.cv-h-1 {
    background: url('../assets/img/gaming.svg');
}

.cv-h-2 {
    background: url('../assets/img/helping.svg');
}

.cv-h-3 {
    background: url('../assets/img/pb-solving.svg');
}

.cv-h-4 {
    background: url('../assets/img/coding.svg');
}

.cv-h-5 {
    background: url('../assets/img/travel.svg');
}

.cv-hobbies-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 50px;
    width: 50px;
}

.flex-icon {
    display: flex;
    justify-content: space-around;
}

.flex-c {
    display: flex;
    justify-content: center;
}

.cv-right {
    margin-top: 60px;
}

@media screen and (min-width: 768px) {
    .cv-flex {
        flex-direction: unset;
    }

    .cv-right {
        margin-top: unset;
    }

    .cv-exp {
        margin-bottom: 105px;
    }

    .cv-qualities,
    .cv-skills-web,
    .cv-skills-ia {
        margin-bottom: 70px
    }

    .cv-inner-container span,
    .cv-inner-container p {
        font-size: calc(var(--text-size)*1.3);
    }
}

@media screen and (min-width: 794px) {
    .cv-exp {
        margin-bottom: 125px;
    }
}

@media screen and (min-width: 1440px) {
    .flex-title-c {
        display: flex;
        /* justify-content: center; */
    }

    #prev {
        left: 20%;
    }

    #next {
        right: 20%;
    }
}